<% include ../partials/header.ejs %>
    <div id="showContainer">
     <div class="showadspot">
       
     </div>
    <ul id="showmain">
    <h1><%=talk.topic%></h1>
    <%if((/\.(mp4|)$/i).test(talk.url)){%>
    <video  id="showvideo" width="100%" controls>   
    <source src="<%=talk.url%>" type="video/mp4">
    </video>
    <div>
    <img src="<%=talk.image_url%>" alt="image" width="100%" >      
    </div>
    <%}else{%>
    <img src="<%=talk.image_url%>" alt="image " id="showimg">
    <div id="showaudio">
        <audio controls>
        <source src="<%=talk.url%>" type="audio/mp3">        
     </audio>
    </div>
    <%}%> 
    <div id="longpost">
    <%=talk.post%><br/>
    Date:<%=talk.date.toDateString()%>  
    <form action="/talk/<%=talk._id%>?__method=DELETE" method="post" >  
      <button id="del">Delete</button>
    </form>
     <fieldset id="allcomment_fieldset">  
      <h3 id="comenttop">COMMENTS:</h3>     
   <% talk.comments.forEach(function(user){%>  
   <div id="comment_fieldset">
        <div>
        <img src="../img/user.svg" alt="landding img" width="50px" class="userimg">   
        </div>
        <div>
        <h4 id="comenttop"><%=user.author%></h4>
        <%=user.text%> 
        </div>
    </div>
   <%})%>
   <form action="/talk/<%=talk._id%>/comment" method="post">
     <ul id="commentform">
      <h3 id="comenttop">ADD YOUR COMMENT:</h3>
      <li> <input type="text" placeholder="author" name="comment[author]" class="commentinput commentinput1" ></li>
      <li><textarea rows="" cols="" name="comment[text]" class="commentinput commentinput2" placeholder="Enter comment"></textarea></li>
       <li ><button id="commentbut">comment</button></li> 
     </ul>
    </form>
    
    </fieldset>
     </div>
   </ul>
</div>
<% include ../partials/footer.ejs %>